body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    font-size: 36px; /* Tamaño de fuente aumentado */
    margin-bottom: 20px;
    color: #333; /* Color de texto más oscuro */
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sound-button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px; /* Mayor margen entre botones */
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.1s;
}

.sound-button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

#pauseButton {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.1s;
}

#pauseButton:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}
